/*==========  Desktop First Method  ==========*/
 #header {
  }

  #header a img{
	width: 60%;
  }

  #container {
    margin: 0 auto;
    width: 100%;
  }

  #navigation , #navigation-footer{
    float: left;
    width: 100%;
  }
 
  #navigation-footer {
	display: inherit;
  }

  #navigation ul li , #navigation-footer ul li{
    display: inline;
  }

  #navigation li a , #navigation-footer ul li {
    float: left;
    border-right: 1px solid #fff;
  }

  #content {
    width: 40%;
    margin: 0 10px;
    padding: 0px;
  }


  #content-img{
	text-align: center;
  }
  
  #content-img img{
    width: 990px;
	height: 340px;
  }
 
   #aside-center , #aside-right {
    width: 26%;
    margin: 0 3% 0 0;
  }

  #aside-center{
	float: left;
  }
  
  #aside-right{
	float: right;
  }

  #aside-center img, #aside-right img{
    width: 100%;
	}
  #content-container {
    float: left;
  }

  #footer {
    text-align: right;
	height: 60px;
	float: left;
	width: 100%;
	
  }

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  
	#header {
		top: 0px;
		left: 0px;
		width: 100%;
		float: left;
	}

	/*regla para el logo */
	#header a img{
		width: 100%;
	}

	#aside-center , #aside-right {
		float: left;
		width: 100%;
	}

	#aside-center img, #aside-right img{
		width: 100%;
	}

	#content {
	   width: 100%;
	   float: left;
	}

	 #content-img img{
	   width: 100%;
	 }

	#content h2 {
	  margin: 5% 0;
	}

	/*color para el menu del header*/
	#navigation , #navigation-footer {
		background: #333;
	}
	/*margin y padding para cada elemento de los menus */
	#navigation ul , #navigation-footer  ul {
		margin: 0;
		padding: 0;
	}

	/*quitar el punto de cada elemento de los menus */
	#navigation ul li, #navigation-footer ul li {
		list-style-type: none;
	}

	/*color para cada hyperlink  de los menus*/
	#navigation li a , #navigation-footer  li a {
		display: block;
		padding: 5px 10px;
		color: #fff;
		text-decoration: none;
	}

	/*que se vea verde cuando toca cada elemento de los menus*/
	#navigation li a:hover , 
	#navigation-footer li a:hover{
		background: #383;
	}


	#footer {
	   float: left;
	   width: 100%;
	}

	#navigation-footer{
		display: none;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  
	#header {
		top: 0px;
		left: 0px;
		width: 100%;
		float: left;
	}

	/*regla para el logo */
	#header a img{
		width: 100%;
	}

	#aside-center , #aside-right {
		float: left;
		width: 100%;
	}

	#aside-center img, #aside-right img{
		width: 100%;
	}

	#content {
	   width: 100%;
	   float: left;
	}

	 #content-img img{
	   width: 100%;
	 }

	#content h2 {
	  margin: 5% 0;
	}
	
	/*color para el menu del header*/
	#navigation , #navigation-footer {
		background: #333;
	}
	/*margin y padding para cada elemento de los menus */
	#navigation ul , #navigation-footer  ul {
		margin: 0;
		padding: 0;
	}

	/*quitar el punto de cada elemento de los menus */
	#navigation ul li, #navigation-footer ul li {
		list-style-type: none;
	}

	/*color para cada hyperlink  de los menus*/
	#navigation li a , #navigation-footer  li a {
		display: block;
		padding: 5px 10px;
		color: #fff;
		text-decoration: none;
	}

	/*que se vea verde cuando toca cada elemento de los menus*/
	#navigation li a:hover , 
	#navigation-footer li a:hover{
		background: #383;
	}


	#footer {
	   float: left;
	   width: 100%;
	}

	#navigation-footer{
		display: none;
	}
}
